@import "compass/typography/vertical_rhythm";
@import "compass/css3/transition";
@import "compass/css3/columns";

$bold: 800;
$normal: 300;

$serif: "Merriweather", "Georgia", serif;
$sans-serif: "Merriweather Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$base-font-size: 16px;
$base-line-height: 24px;

$text-color-black: #000;
$text-color-seafoam: #00cc66;

$grid-background-baseline-height: $base-line-height;

@include establish-baseline;

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

article {
  max-width: 47.5em;
  padding: 1.5em;
  margin: 0 auto;
  font-weight: 300;
  font-family: $serif;
}

section {
  a {
    color: $text-color-black;
  }

  &:hover a {
    color: $text-color-seafoam;
  }
}

header {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5em;
  }

  li {
    display: inline-block;

    &:after {
      content: " · ";
      margin: 0 0.25em;
      font-weight: $bold;
    }

    &:last-child:after {
      content: "";
    }
  }
}

h1 {
  font-size: 1.5em;
  margin: 0;  
  font-family: $sans-serif;
  font-weight: $bold;
}

h2 {
  font-size: 1.25em;
  margin: 1.125em 0 0;  
  font-family: $sans-serif;
  font-weight: $bold;
}

h3 {
  margin: 0;
  font-family: $sans-serif;
  font-weight: $normal;
  font-size: 1.125em;

  .superhead {
    text-transform: uppercase;
    display: block;
    font-size: 0.65em;
    font-weight: $bold;
  }

  .subhead {
    font-style: italic;
    font-size: 0.85em;
    margin: 0;
    display: block;
  }
}

a {
  color: $text-color-seafoam;
  display: inline-block;
  text-decoration: none;
  @include transition(color, 0.4s);
}

p {
  margin: 0 0 1.5em;
}

.currently ul {
  margin: 1.5em 0;
}

.skills ul {
  margin: 0;
  padding: 0;
  list-style: none;
  @include column-count(2);
}

@media all and (min-width: 37em) {
  article {
    padding: 3em;
  }

  h1 {
    font-size: 2.5em;
    margin: 0.3em 0;
  }

  h2 {
    font-size: 1.75em;
    margin: 1.75em 0 0.75em;  
  }

  h3 {
    font-size: 1.5em;
    margin: 1em 0;

    .superhead {
      font-size: 0.5em;
    }

    .subhead {
      display: inline-block;
      font-size: 0.75em;
      line-height: 1em;
      margin: 0 0 0 0.25em;
    }
  }

  .skills ul {
    @include column-count(3);
  }
}

@media all and (min-width: 47em) {
  .skills ul {
    @include column-count(4);
  }
}

@media print {
  h1 {
    margin-top: 0;
    padding-top: 0;
  }

  article {
    padding: 0;
  }

  @page {
    margin: 1.25in;
  }

  a {
    color: $text-color-black;
    border: 0;
  }
}