html {
  font-size: 18px;
}

body {
  font-family: 'Fraunces', serif;
  font-weight: 300;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fffbf5;
}

/* Name */
h1 {
  font-size: 2rem;
  font-weight: 450;
  margin: 0;
  padding: 0;
  line-height: 2.25rem;
  /* color: rgba(0, 0, 255, 1); */
}

/* Section Headings */
h2 {
  font-family: 'Special Gothic Expanded One', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 2rem 0 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Company Headings */
h3 {
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 1.8rem;
  margin: 2rem 0 1rem;
}

h3 a {
  color: inherit;
  text-decoration: none;
}

/* Role Headings */
h4 {
  font-size: 1.125rem;
  font-weight: 450;
  line-height: 1.35rem;
  margin: 2rem 0 1rem;
  /* color: rgba(0, 0, 255, 0.75); */
}

/* Tighten spacing when headings are adjacent */
:is(h1, h2, h3, h4) + :is(h2, h3, h4) {
  margin-top: 1rem;
}

h4 span {
  font-weight: 300;
  display: block;
  color: rgba(0, 0, 0, 0.5);
}

a {
  color: rgba(0, 0, 255, 0.75);
  text-decoration-style: underline;
  text-decoration-color: rgba(0, 0, 255, 0.25);
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
}

a:hover {
  text-decoration-color: rgba(0, 0, 255, 0.5);
}

p {
  margin: 1rem 0;
}

article {
  margin: 0 auto;
  max-width: 38rem;
  padding: 2rem 1rem;
}

.logo {
  margin: 0 auto 2rem -0.7rem;
  text-align: center;
  font-size: 0;
}

.icm {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  opacity: 0.8;
}

header p {
  text-align: left;
  font-style: italic;
}

header dl {
  margin: 0;
  font-size: 1rem;
}

header dt {
  display: none;
}

header dd {
  display: inline;
  margin: 0;
}

header dd:first-of-type::after {
  content: ' · ';
  margin: 0 0.25rem;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 0.875rem;
  margin: 2rem 0 0;
  padding: 1rem 0 0;
}

ul,
li {
  margin: 1rem 0;
}

ul {
  padding-left: 1.5rem;
}

li {
  padding-left: 0.5rem;
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

/*

🖨 Let's make it printer friendly, for the folks who prefer a hard copy.

*/

@media print {
  html {
    font-size: 12px;
  }

  h1 {
    margin-top: 0;
    padding-top: 0;
  }

  article {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  @page {
    margin: 1in 1.25in;
  }

  .logo,
  footer {
    display: none;
  }
}
